*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}


  nav{
     background-color: blue;
     height: 80px;
     width: 100%;
  }  
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
  }
  ul{
    float: right;
    margin-right: 20px;

  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  nav ul li a.active:hover{
   background-color: green;
   transition: 0.5s;

  }
  nav ul li a.about:hover{
    background-color: green;
    transition: 0.5s;
}
nav ul li a.Services:hover{
    background-color: green;
    transition: 0.5s;
}
nav ul li a.contact:hover{
    background-color: green;
    transition: 0.5s;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
     height: 20%;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.description{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:blue;
    height: 100%;
    width: 100%;
}
.description_item{
   font-size: 10px;
   
}

.second_paragraph{
  text-align: left;
}
h3{
  color:brown;
  margin-left: 15px;
}
.content{
  display:flex;
  justify-content: space-between;
  
  
}
.content_items{
  width: 20%;
  padding: 15px;
  background-color: rgb(105, 207, 80);
  margin: 10px 100px 100px;
  border-radius: 10px;
}

.content_items h4{
  text-align: center;
  color: green;
}

.last{
  background-color: blue;

}
.last h5{
  text-align: center;
}

.last h6{
  text-align: center;
}

